{% extends "base.html.twig" %}

{% block title %}Ceci est la page de l'article {{ id }} {% endblock %}

{% block body %}

<!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <h2>{{ post.title }}</h2>
                <br>
                <br>
                <div class="col-md-10 col-lg-8 col-xl-7">
                <h4>{{ post.subtitle }}</h4>
                <br>
                <br>
                    {{ post.content }}
                    </div>
                    <div class="col-md-10 col-lg-8 col-xl-7">
                    <br>
                    <p>Publié par {{post.author}} &middot; le {{ post.getCreatedAt() }}</p>
                    </div>
                </div>
            </div>
        </div>
    </article>

{% endblock %}